:root {
  font-size: 28px;

  --bg: #232323FF;
  --white: #FFFFFFFF;
  --accent: #B9EBF2;
  --gray: #373737FF;
  --lgray: #FFFFFFc3;
}

@media (max-width: 500px) {
  :root {
    font-size: 24px;
  }
}

input, select, 
textarea, button {
  font: inherit;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  border: 2px solid black;
  border-radius: 4px;
  background-color: var(--gray);
  color: var(--white);
  accent-color: var(--accent);
  box-sizing: border-box;
}

html, body {
  min-width: 700px;
}

body {
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--white);
}

a {
  color: var(--lgray);
  text-decoration: none;
}

textarea {
  field-sizing: content;
  min-width: 12em;
  max-width: 36em;
  min-height: 2em;
}

.nav, .index {
  text-align: center;
}

.home_icon {
  color: var(--white);
}

.page {
  max-width: 700px;
  margin: auto;
  text-align: left;
}

.card, .post-preview, .post,
.user_context .comment {
  box-sizing: border-box;
  border: 2px solid black;
  padding: 1rem;
  margin: 1rem auto;
  background-color: var(--gray);
  border-radius: 4px;
  overflow: hidden;
}

.card, .post-preview, 
.user_context .comment {
  width: 28rem;
  text-align: left;
}

.post-preview {
  min-height: 1rem;
}

.post-preview.padded {
  min-height: 6rem;
}

.post-preview.padded 
.post-title {
  padding-bottom: 1em;
}

.post, .user_context .comment {
  max-width: 28rem;
}

.post-title a, .p_title {
  font-weight: bold;
  color: white;
}

.post-meta, .p_poster, .p_link {
  color: #d5d5d587;
  white-space: nowrap;
}

.like_count {
  color: darkgray;
}

.profile .user_data {
  margin: 0.5em 0;
}

.tabs {
  text-align: center;
  padding: 1rem;
}

.user_context .comment {
  display: block;

}

.user_context .comment .title {
  font-weight: bold;
}

.user_context .comment .context {
  color: #f5f5f5cc;
}

.comments {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comment {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 0.5rem;
  align-items: start;
}

.comment .username {
  text-align: right;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}

.comment .content {
  word-wrap: break-word;
}

.post_data .item, .search .filter {
  padding-top: 0.3em;
}

.tags {
  color: gray;
}

.info {
  padding: 0.5em 0;
}

.likes {
  padding-top: 0.5rem;
}

.controls {
  padding-top: 1rem;
}

.error {
  text-align: center;
  margin: 3em auto;
  max-width: 70%;
}

.title_link {
  text-decoration: underline;
}

.error_back {
  text-align: center;
}