{% extends "layout.html" %}

{% block title %}Redigera inlägg{% endblock %}

{% block content %}
<div class="page">

<h2>
  Redigera <a class="title_link" href="/post/{{ post.post_id }}">
    {{ post.title }}
  </a>
</h2>

<form action="/edit" method="post">
  <p>
    <label for="title">Titel</label> <br />
    <input type="text" name="title" value="{{ post.title }}" 
    maxlength="{{ title_max }}" required/>
  </p>

  <p>
    <label for="sleep_quality">Sov du gott?</label> <br />

    <input type="range" id="sleep_quality" name="sleep_quality"
    min="1" max="5" step="1" value="{{ post.sleep_quality }}">
  </p>
  
  <p>
    <label for="dream">Vad drömde du om?</label> <br />
    <textarea name="dream" rows="10" cols="64" 
    maxlength="{{ dream_max }}">{{ post.dream }}</textarea>
  </p>
  
  <p>
    <label for="visibility">Synlighet</label>
    <select name="visibility">
      <option value="public" 
        {{ "selected" if post.visibility == "public" else ""}}>
          Offentlig
        </option>

      <option value="private" 
        {{ "selected" if post.visibility == "private" else ""}}>
          Privat
        </option>

      <option value="friends-only" 
        {{ "selected" if post.visibility == "friends-only" else ""}}>
          Vänner
        </option>
    </select>
  </p>
  
  {% for category in categories %}
  <div class="categories">
    <label for="categories">{{ category }}</label>
    <select name="categories">
      {% for option in categories[category] %}
        {% if post_category[category] == option %}
          <option value="{{ category }}:{{ option }}"
          selected>
            {{ option }}
          </option>
        {% else %}
          <option value="{{ category }}:{{ option }}">
            {{ option }}
          </option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  {% endfor %}
  
  <p>
    <label for="bedtime-h">Jag lade mig klockan</label>

    <select name="bedtime-h">
    {% for i in range(24) %}
      {% if i == bedtime.0 %}
        <option value="{{i}}" selected>
          {{ "%02d" | format(i) }}
        </option>
      {% else %}
        <option value="{{i}}">
          {{ "%02d" | format(i) }}
        </option>
      {% endif %}
    {% endfor %}
    </select>
    :
    <select name="bedtime-m">
      {% for i in range(60) %}
        {% if i == bedtime.1 %}
          <option value="{{i}}" selected>
            {{ "%02d" | format(i) }}
          </option>        
        {% else %}
          <option value="{{i}}">
            {{ "%02d" | format(i) }}
          </option>
        {% endif %}
      {% endfor %}
    </select>
  </p>

  <p>
    <label for="delay-h">Det tog mig</label>
    
    <select name="delay-h">
    {% for i in range(13) %}
      {% if i == post.sleep_delay // 60 %}
        <option value="{{i}}" selected>
          {{ "%02d" | format(i) }}
        </option>
      {% else %}
        <option value="{{i}}">
          {{ "%02d" | format(i) }}
        </option>
      {% endif %}
    {% endfor %}
    </select> h 
    
    <select name="delay-m">
      {% for i in range(0, 60, 5) %}
        {% if i == (post.sleep_delay % 60) %}
          <option value="{{i}}" selected>
            {{ "%02d" | format(i) }}
          </option>
        {% else %}
          <option value="{{i}}">
            {{ "%02d" | format(i) }}
          </option>
        {% endif %}
      {% endfor %}
    </select> m
    <label for="bedtime-m">att få sömn.</label>
  </p>

  <p>
    <label for="tags">Nyckelord</label>
    <input type="text" name="tags" value="{{ tags }}">
  </p>

  <input type="hidden" name="post_id" value="{{ post.post_id }}" />
  
  <input type="hidden" name="csrf_token"
  value="{{ session.csrf_token }}" />
  
  <input type="submit" value="Uppdatera" />
</form>

</div>
{% endblock %}
