{% extends "layout.html" %}

{% block title %}Registrera{% endblock %}

{% block content %}
<div class="page">

<form action="/create_user" method="post">
  <p>
    <label for="username">Användarnamn</label> <br />
    <input type="text" name="username" 
    maxlength="{{ username_max }}" pattern="[a-zA-Z0-9]+" 
    required />
  </p>

  <p>
    <label for="password1">Lösenord</label> <br />
    <input type="password" name="password1" required />
  </p>

  <p>
    <label for="password2">Lösenord igen</label> <br />
    <input type="password" name="password2" required />
  </p>
  
  <input type="submit" value="Skapa" />
</form>

</div>
{% endblock %}
